# ch4 : lists

# property of list
# represented as [ ]
# mutable objects

In [1]:
months = ['jan','feb','mar','apr','may','jun']
print(months)
type(months)

['jan', 'feb', 'mar', 'apr', 'may', 'jun']

list

In [2]:
len(months)

6

In [3]:
# access the list - use the index value
months[0]

'jan'

In [4]:
# range of values - get the first 3 elements
months[0:3]

['jan', 'feb', 'mar']

In [5]:
# skip by 2, starting from 0; end at the last element
months[::2]

['jan', 'mar', 'may']

In [6]:
# last value
months[len(months)-1]

'jun'

In [7]:
months[-1]

'jun'

In [8]:
# add values to a list
months.append('jul')
months.append('aug')
months.append('sep')
print(months)

['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep']

In [9]:
# add element at a specific location
months.insert(1,'dec')
months

['jan', 'dec', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep']

# add the month 'oct' in between 'may' and 'jun'

In [10]:
# first find the index position of 'jun'
months.insert(months.index('jun'), 'oct')
print(months)

['jan', 'dec', 'feb', 'mar', 'apr', 'may', 'oct', 'jun', 'jul', 'aug', 'sep']

In [11]:
# add 'nov' after 'feb'
months.insert(months.index('feb')+1, 'nov')
print(months)

['jan', 'dec', 'feb', 'nov', 'mar', 'apr', 'may', 'oct', 'jun', 'jul', 'aug', 'sep']

In [12]:
# change values in a list
# eg: change 'dec' to 'december'

months[months.index('dec')] = 'december'
print(months)

['jan', 'december', 'feb', 'nov', 'mar', 'apr', 'may', 'oct', 'jun', 'jul', 'aug', 'sep']

In [13]:
# if you try to access an index pos that is not existing, it gives an error
months[15]

IndexError: list index out of range

In [14]:
# delete element from a list
# method 1
del months[months.index('december')]
print(months)

['jan', 'feb', 'nov', 'mar', 'apr', 'may', 'oct', 'jun', 'jul', 'aug', 'sep']

In [15]:
# method 2
months.remove('jan')
print(months)

['feb', 'nov', 'mar', 'apr', 'may', 'oct', 'jun', 'jul', 'aug', 'sep']

In [16]:
# method 3
months.pop(months.index('may'))
print(months)

['feb', 'nov', 'mar', 'apr', 'oct', 'jun', 'jul', 'aug', 'sep']

In [17]:
# sort a list
# default sort order = ascending
months.sort()
months

['apr', 'aug', 'feb', 'jul', 'jun', 'mar', 'nov', 'oct', 'sep']

In [18]:
# descending sort order
months.sort(reverse=True)
months

['sep', 'oct', 'nov', 'mar', 'jun', 'jul', 'feb', 'aug', 'apr']

# heterogenous list
# packing and unpacking a list

# pack -> create the list
# country_id, country_name, capital, continent,pop,index,democracy

In [19]:
rec = [91,'India','New Delhi','Asia',120,37.2,True]
print(rec)

[91, 'India', 'New Delhi', 'Asia', 120, 37.2, True]

In [20]:
rec[0]

91

In [21]:
rec[1]

'India'

In [22]:
# unpack the list
cid,name,cap,cont,pop,ndx,demo = rec
print(cid)
print(name)
print(cap)
print(cont)
print(pop)
print(ndx)
print(demo)

91
India
New Delhi
Asia
120
37.2
True

In [23]:
# number list
n1 = list(range(1,5))
n2 = list(range(10,20))

In [24]:
# join/append lists from existing lists
n3 = n1 + n2
type(n3)

list

In [26]:
len(n3)

14

In [27]:
print(n3)

[1, 2, 3, 4, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [28]:
# statistical operations on list
max(n3)

19

In [29]:
min(n3)

1

In [30]:
sum(n3)

155

In [31]:
round(sum(n3) / len(n3),2)

11.07

In [32]:
months

['sep', 'oct', 'nov', 'mar', 'jun', 'jul', 'feb', 'aug', 'apr']

In [33]:
# changes to a list by making copies
# method 1 (shallow copy)
months_copy1 = months

In [34]:
# check if the lists are equal
months_copy1==months

True

In [35]:
# make changes to the copy1
months_copy1.append('jan')
months_copy1.append('may')
months_copy1[0] = 'september'
months_copy1

['september',
 'oct',
 'nov',
 'mar',
 'jun',
 'jul',
 'feb',
 'aug',
 'apr',
 'jan',
 'may']

In [36]:
# check the original list
months

['september',
 'oct',
 'nov',
 'mar',
 'jun',
 'jul',
 'feb',
 'aug',
 'apr',
 'jan',
 'may']

# shallow copy -> when the copy is changed, the original object is also changed

In [37]:
# method 2 (Deep copy)
months_copy2 = months.copy()

In [38]:
months_copy2 == months

True

In [39]:
# change the copy2
months_copy2[0] = 'sep'
months_copy2.remove('oct')
months_copy2.remove('nov')
print(months_copy2)

['sep', 'mar', 'jun', 'jul', 'feb', 'aug', 'apr', 'jan', 'may']

In [40]:
len(months_copy2)

9

In [41]:
# check the original list
print(months)

['september', 'oct', 'nov', 'mar', 'jun', 'jul', 'feb', 'aug', 'apr', 'jan', 'may']

In [42]:
# zip() --> form a record from different lists
stock = ['sbi','mrf','ongc','tatam']
price = [1458,2456,5190,378]
traded = [38380301,934019401,439349104,48481001]
list(zip(stock,price,traded))

[('sbi', 1458, 38380301),
 ('mrf', 2456, 934019401),
 ('ongc', 5190, 439349104),
 ('tatam', 378, 48481001)]

In [ ]:
# assignment 1
'''
create 4 lists to store the results of a binary classification model (create 5 models)

list1 -> model name
list2 -> accuracy score
list3 -> positive class accuracy
list4 -> negative class accuracy

# list2 -> list4 --> generate the numbers (do not hardcode) and restrict digits after decimals to 3

# print the individual model details

m1,0.59.56,0.79
...
...
'''

In [43]:
import random as r

# empty list
acc = []; pos = []; neg = [];
for i in range(5):
    acc.append(round(r.uniform(0,1),3))
    pos.append(round(r.uniform(0,1),3))
    neg.append(round(r.uniform(0,1),3))
    
print(acc)    
print(pos)    
print(neg)

[0.347, 0.765, 0.139, 0.329, 0.65]
[0.598, 0.98, 0.241, 0.739, 0.798]
[0.7, 0.566, 0.601, 0.629, 0.441]

In [44]:
model=['M1','M2','M3','M4','M5']

In [45]:
list(zip(model,acc,pos,neg))

[('M1', 0.347, 0.598, 0.7),
 ('M2', 0.765, 0.98, 0.566),
 ('M3', 0.139, 0.241, 0.601),
 ('M4', 0.329, 0.739, 0.629),
 ('M5', 0.65, 0.798, 0.441)]

In [46]:
print(model)

['M1', 'M2', 'M3', 'M4', 'M5']

In [47]:
# nested list
# each element is a list
numlist = [
        list(range(1,21,2)),
        list(range(1,21,4)),
        list(range(2,21,2))
    ]

In [48]:
type(numlist)

list

In [49]:
len(numlist)

3

In [50]:
numlist

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19],
 [1, 5, 9, 13, 17],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]]

In [51]:
# get the elements
numlist[0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [52]:
# get the first 5 numbers from the 1st element
numlist[0][0:5]

[1, 3, 5, 7, 9]

In [53]:

# get the maximum value from the first 5 elements of the 1st element
max(numlist[0][0:5])

9

In [54]:
# find the sum of all even numbers from the list
sum(numlist[2])

110

In [ ]:
# create a number table list to store the tables from 2-10 in the following sequence

2,4,6,8, ........... 20
3,6,9, .............. 30
4,8,12 .............. 40
....
....
10,20,30 ............ 100

# no hardcoding

In [55]:
table1=[    #outer list ,parent list
list (range(2,20,2)),
list(range(3,30,3)),
list(range(4,40,4)),
list(range(5,50,5)),
list(range(6,60,6)),
list(range(7,70,7)),
list(range(8,80,8)),
list(range(9,90,9)),
list(range(10,100,10))
]  

print(table1)

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63], [8, 16, 24, 32, 40, 48, 56, 64, 72], [9, 18, 27, 36, 45, 54, 63, 72, 81], [10, 20, 30, 40, 50, 60, 70, 80, 90]]

In [61]:
num=[]
for i in range(2,11):
    num.append(list(range(i,(i*10)+1,i)))

 
print(num)

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

#properties of list
#1) collection of hetro homo,mutable(supports change),
#it is enclosed within[]
#list is an iterable object
#deep copy,shallow copy
#index function follwed by vlaues
#list support duplicate  items
#nested=>the elements are list.
#can we sort lis?->yes
#